*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.header{
    background-color: transparent;
    padding: 50px;
    text-align: center;
}
.nav{
    background-color: #282A35;
    padding: 10px;
    overflow: hidden;
}
.nav a{
    display: inline-block;
    text-decoration: none;
    color: #E7E7E7;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 500;
}
a:hover{
    background-color: black;
}
.main-content:after{
    content: "";
    display: table;
    clear: both;
}
.col{
    float: left;
    width: 33.33%; 
    border: 1px solid green;
    padding: 50px;    
}
#lifestyle:hover{
    background-color:lightgrey;
}
.footer{
    background-color: #E7E9EB;
    text-align: center;
    padding: 10px;
}

/*Responsiveness*/
@media screen and (max-width: 800px){
    .col{
        width: 100%;        
    }
}
  
